<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Analyst</title>
  <style>
    body{
      background: url('img.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 111%;;
    }
    .heading{
      color: azure;
      margin-top: 17%;
    }
    .heading > h1{
      font-size: 60px;
      text-align: center;
      font-family: Lato;
    }
    button{
      display: block;
      width: 8%;
      outline: none;
      border: none;
      background: steelblue;
      margin: 20px auto;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      color: azure;
    }
  </style>
</head>
<body>
  <div class="heading">
    <h1>Welcome to The Analyst</h1>
  </div>
  <div class="btn">
    <form action="/home">
      <button>Enter</button>
    </form>
  </div>
</body>
</html>