<% include ./partials/header %>

    
<h1 style="text-align: center; margin-top:60px">LogIn</h1>

<div class="form">
    <div class="form-header">Log In</div>
    <form action="/login" method="POST">
      <div class="input-boxes">
        <div>
           <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="password" required>
        </div>
      </div>
      <div class="submit-box">
        <input type="submit" value="LogIn">
      </div>
    </form>
  </div>

<% include ./partials/script %>
<% include ./partials/footer %>
