<% include ./partials/header %>

<div class="search-box">
  <form action="/showResultsYoutube" method="GET">
      <div class="input-box">
        <input type="text" placeholder="Search" name="search">
      </div>
      <input class="search" type="submit" value="Search">
  </form>
</div>


<% include ./partials/script %>
<% include ./partials/footer %>